hr{
    height: 5px;
    background-color: bisque;
}
.mainContainer{
    border:dotted white;
    background-color:bisque;
    display:flex;
    margin:25px;
    height:80vh;
    padding:15px;
}
.leftContainer{
    /* border:solid red; */
    color:white;
    width:35%;
    padding:15px;
    margin-right:10px;
    background-image: url("https://e0.pxfuel.com/wallpapers/329/683/desktop-wallpaper-textured-background-blue-background-dark-blue-blue-colour-royal-blue-texture-thumbnail.jpg" );
    background-size:800px 1000px;
}
.profilePic{
    /* border:solid pink; */
    margin-bottom:15px;
}
.pic{
    height:260px;
    border-radius:50%;
    margin-top:7px;
    border: solid bisque;
}
.contactInfo{
    /* border:solid pink; */
    margin-bottom:30px;
}
.info{
    /* border: solid green; */
    margin-top:10px;
    height:30px;
    display:flex;
    justify-content: space-between;
    /* text-decoration: bisque underline; */
    padding-bottom:3px;
}
.location{
    padding-bottom:10px;
}
.emailAddress{
    padding-top:15px;
}
.Summary{
    /* border:solid pink; */
    margin-bottom:15px;
    font-size:25px;
    padding-top:30px;
}
.summary{
    padding-bottom:20px;
}
.Skills{
    /* border:solid pink; */
    padding-top:30px;
    margin-bottom:15px;
    font-size:25px;
    padding-top:30px;
}
.rightContainer{
    /* border:solid yellow; */
    background-image: url("https://e0.pxfuel.com/wallpapers/329/683/desktop-wallpaper-textured-background-blue-background-dark-blue-blue-colour-royal-blue-texture-thumbnail.jpg");
    background-size: 800px 1000px;
    width:65%;
    padding:15px;
    color:white;
}
.name{
    /* border:solid red; */
    font-size:40px;
    text-align:center;
    font-size:65px;
}
.experience{
    /* border:solid red; */
    padding-top:20px;
    padding-bottom:20px;
    font-size:25px;
}
.exp{
    padding-bottom:30px;
}
.education{
    /* border:solid red; */
    font-size:25px;
    padding-top:20px;
    padding-bottom:20px;
}
.edu{
    padding-bottom:30px;
}
.mugShot{
    height:330px;
    width:330px;
    margin-left:75px;
    border:solid bisque;
    border-radius:8px;
    margin-top:10px
}
